include AUTHORS
include CHANGES
include LICENSE
include README.rst
recursive-include maintenancemode/conf *
recursive-include maintenancemode/south_migrations *
recursive-include maintenancemode/utils *
recursive-include maintenancemode/views *
prune testproject
